<div class="sidebar">
  <div class="sidebar-sticky main-menu">
    <a [routerLink]="['Category']"><img class="main-menu__item" src="../assets/img/logo-2.png" alt="Logo"> </a>
    <div class="nav flex-column">
      <a class="float-left main-menu-link" [routerLink]="['Category']" routerLinkActive="active-selected">Category</a>
      <a class="float-left main-menu-link" [routerLink]="['Products']" routerLinkActive="active-selected">Products</a>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
