$primary-color: #FBF5F3;
$secondary-color: #000022;
$hover-color: #E28413;
$hover-color-light: rgb(252, 163, 55);
$btn-edit-color:rgb(83, 120, 221);
$hover-btn-edit-color:rgb(53, 90, 194);
$fonts: 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif;

.navbar {
  background-color: $secondary-color;

  & h2 {
    color: $primary-color;
    font-family: $fonts;
  }
}

.btn {
  border-radius: 20px;

  &-info {
    background-color: $btn-edit-color;

    &:hover {
      background-color: $hover-btn-edit-color;
    }
  }

  &-outline-dark {
    color: $hover-color;
    border-color: $hover-color;
  }

  &-light {
    color: $hover-color-light;
    border-color: $hover-color-light;
  }
}

.table {
  text-align: center;

  &-button {
    margin-left: 3%;
    border-radius: 20px;
  }
}
