$primary-color: #FBF5F3;
$secondary-color: #000022;
$hover-color: #E28413;
$hover-color-light: rgb(252, 163, 55);
$btn-edit-color:rgb(83, 120, 221);
$hover-btn-edit-color:rgb(53, 90, 194);
$fonts: 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif;
.header{
  padding-right: 0;
}
.navbar {
  background-color: $secondary-color;
  margin-left: 14.82%;
  

  & h2 {
    color: $primary-color;
    font-family: $fonts;
    margin-right: 10%;
  }
}

.btn {
  border-radius: 20px;

  &-info {
    background-color: $btn-edit-color;

    &:hover {
      background-color: $hover-btn-edit-color;
    }
  }

  &-outline-dark {
    color: $hover-color;
    border-color: $hover-color;
    
    
  }

  &-light {
    color: $hover-color-light;
    border-color: $hover-color-light;
    border: none;
  }
}

.table {
  text-align: center;
  margin-top: 10%;
  padding-right: 20%;


  &-button {
    border-radius: 20px;
    border: none;
  }
}
